<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magentomaster\Testmodule\Api\ContactRepositoryInterface" type="Magentomaster\Testmodule\Model\ContactRepository"/>
    <preference for="Magentomaster\Testmodule\Api\Data\ContactInterface" type="Magentomaster\Testmodule\Model\Contact"/>
    <preference for="Magentomaster\Testmodule\Api\Data\ContactSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
    <type name="Magentomaster\Testmodule\Model\ResourceModel\Contact\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">magentomaster_testmodule_contact</argument>
            <argument name="eventPrefix" xsi:type="string">magentomaster_testmodule_contact_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">contact_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magentomaster\Testmodule\Model\ResourceModel\Contact</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magentomaster_testmodule_contact_listing_data_source" xsi:type="string">Magentomaster\Testmodule\Model\ResourceModel\Contact\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
